@use '@assets/webColors' as *;

.Feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .no-users {
    color: $blue;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}