@use '@assets/webColors' as *;

.Root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $blue;

  h1 {
    color: $white;
  }

  &__btns {
    display: flex;
    gap: 20px;

    a {
      padding: 10px 15px;
      color: $blue;
      border-radius: 5px;
      background-color: $white;
    }
  }

}