@use '@assets/webColors' as *;

.CreatePost {
  padding: 30px;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  &__img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    width: 85%;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .preview {
        width: 100%;

        .file-preview {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .attachement {
        padding: 5px 10px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        height: 110px;
        border: 1px solid $grey-bg;
        border-radius: 5px;
        overflow: hidden;
        gap: 20px;

        button {
          padding: 5px 15px;
          background-color: $blue;
          color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        .file-input {
          display: flex;
          gap: 20px;

          span {
            font-family: 'Bootstrap-icons';
            font-size: 18px;
          }

          input {
            display: none;
          }
        }
      }

      textarea {
        padding: 10px;
        width: 100%;
        height: 70%;
        position: absolute;
        top: 0;
        left: 0;
        outline: none;
        border: none;
        resize: none;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
      }

    }
  }
}


@media screen and (max-width: 450px) {
  .CreatePost {
    padding: 20px;
    width: 100%;

    &__img {
      width: 30px;
      height: 30px;
    }
  }
}