@use '@assets/webColors' as *;

.MessageChat {
  width: 90%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;

  &.user {
    justify-content: flex-end;
    margin-left: auto;

    p {
      background-color: $chat-blue;
    }
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  p {
    max-width: 90%;
    padding: 5px 10px;
    background-color: $chat-green;
  }
}

@media screen and (max-width: 450px) {
  .MessageChat{
    img{
      display: none;
    }
  }
  
}