@use '@assets/webColors' as *;

.MessagesContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 450px;

  &__friends {
    outline: 2px solid $grey-bg;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .Friend {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $grey-bg;
      border-right: 1px solid $grey-bg;

      &__content {
        p {
          display: none;
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content {
      display: flex;
      border-bottom: 1px solid $grey-bg;
      margin-left: 15px;
      padding: 15px 0;
      gap: 20px;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
      }

      &-info {

        h4 {
          color: $dark-grey;
          font-size: 18px;
          font-weight: 500;
        }

        span {
          color: $grey1;
          font-style: italic;
          font-size: 13px;
        }
      }
    }

    .chat {
      height: 250px;
      overflow-y: auto;

      .no-users {
        color: $blue;
        font-weight: 500;
        text-transform: capitalize;
      }

      &-loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }
}


@media screen and (max-width: 450px) {
  .MessagesContent {
    height: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__box {
      .chat {
        height: 500px;
      }
    }

    &__friends {
      max-height: 130px;
    }
  }
}