@use '@assets/webColors' as *;

.Loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  z-index: 999999;
}