@use '@assets/webColors' as *;

.SignUp {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: $grey-bg;
  align-items: center;

  &__info {
    width: 50%;
    height: 100%;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 14px;
    }
  }

  &__content {
    margin: 0 auto;
    padding: 60px 0;
    background-color: $white;
    color: $blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .signup {
      color: $blue;
      font-weight: 900;
    }

    form {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 40px;


      .input-wrapper {
        position: relative;

        .error {
          color: $red;
          position: absolute;
          bottom: -25px;
        }

        input {
          width: 100%;
          padding:10px;
          font-size: 16px;
          border: none;
          outline: none;
          border-bottom: 2px solid $blue;
        }
      }

      .SignUp-button,
      button {
        padding: 15px;
        background-color: $blue;
        border-radius: 4px;
        outline: none;
        border: none;
        color: $white;
        cursor: pointer;
        text-align: center;
        font-size: 16px;

        &:disabled {
          background-color: $blue-disabled;
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  body {
    background-color: $grey-bg;
  }

  .SignUp {
    flex-direction: column;
    height: unset;

    &__info {
      width: 100%;
      padding: 20px;
      text-align: center;

      img {
        display: none;
      }
    }

    &__content {
      margin: 30px auto;
      width: 90%;
      padding: 20px 0;
    }
  }
}