$black: #252525;
$dark-grey: #373b3f;
$grey1: #797979;
$grey-bg: #E8E8E8;
$blue: #088dcd;
$blue-disabled: #088fcdbd;
$online: #7fba00;
$away: #FFD300;
$offline: #A9A9A9;
$red: red;
$white: #ffffff;
$decline: #778899;
$chat-green: rgba(202, 239, 142, .65);
$chat-blue: rgba(39, 170, 225, 0.1);