@use '@assets/webColors' as *;

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/font/Roboto.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/font/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/font/Roboto-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/font/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
}

:root {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}


a {
  font-weight: 500;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: $grey-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $grey1;
}